<!DOCTYPE html>
<html lang="ru">
  <head>
    {% if not current_url %}
      {% set current_url = request.build_absolute_uri() %}
    {% endif %}
    {% if not meta_title %}
      {% set meta_title = 'Кура с гречей - кулинарный портал' %}
    {% endif %}
    {% if not meta_descr %}
      {% set meta_descr = 'Поиск рецептов по ингредиентам, подборки рецептов, кулинарные видео' %}
    {% endif %}
    {% if meta_title %}
    <title>{{ meta_title }}</title>
    <meta name="title" content="{{ meta_title }}"/>
    <meta name="og:title" content="{{ meta_title }}"/>
    {% endif %}
    {% if meta_descr %}
    <meta name="og:description" content="{{ meta_descr }}"/>
    <meta name="description" content="{{ meta_descr }}"/>
    {% endif %}    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="{{ static('img/favicon.ico') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ static('img/favicon.ico') }}" />
    <link href="{{ static('css/bootstrap.min.css')+'?14' }}" rel="stylesheet" media="screen">
    <link href="{{ static('css/bootstrap-flat.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ static('css/style-mobile-min.css')+'?17' }}" rel="stylesheet" media="screen">
    {% if suggestion_text %}
    <link href="{{ static('css/bootstrap-tagsinput.css') }}" rel="stylesheet" media="screen">
    <link href="{{ static('css/bootstrap-multiselect.css') }}" rel="stylesheet" media="screen">
    {% endif %}
    <link rel="stylesheet" href="{{ static('css/jquery.mCustomScrollbar.min.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="og:site_name" content="Кура с гречей - поиск рецептов по ингредиентам"/>
    <meta name="og:url" content="{{current_url}}"/>
    <meta name="og:type" content="website"/>
    <meta name="og:image" content="https://kurasgrechey.ru/static/img/metalogo1.jpg"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78048203-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="{{ static('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
      <script src="{{ static('js/bootstrap.min.js') }}"></script>
      <script src="{{ static('js/app-min.js')+'?19' }}"></script>
      {% if suggestion_text %}
      <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
      <script src="{{ static('js/bootstrap-tagsinput-min.js') }}"></script>
      <script src="{{ static('js/bootstrap-multiselect-min.js') }}"></script>
      <script src="{{ static('js/imageselect-min.js')+'?1' }}"></script>
      {% endif %}
      <div id="modalMail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalMailLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabelOne"><noindex>Напишите нам!</noindex></h3>
          </div>
          <div class="modal-body">
            <form class="form-horizontal col-sm-12" id="sendMail" method="post">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <div class="form-group"><input name="name" class="form-control required" placeholder="Ваше имя" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text"></div>
              <div class="form-group"><textarea name="msg" class="form-control" placeholder="Ваше сообщение" data-placement="top" data-trigger="manual"></textarea></div>
              <div class="form-group"><button type="submit" class="btn btn-success pull-right"><noindex>Отправить!</noindex></button> <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p></div>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="thankYou" tabindex="-1" role="dialog" aria-labelledby="myModalLabelTwo">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabelThree"><noindex>Спасибо</noindex></h4>
        </div>
        <div class="modal-body">
            <noindex>Сообщение отправлено</noindex>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><noindex>Закрыть</noindex></button>
          </div>
        </div>
      </div>
    </div>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ url('guessrecipe_view') }}">
              <h1>Кура с Гречей</h1>
              {% if suggestion_text %}
              <h2>Поиск рецептов по ингредиентам</h2>
              {% else %}
              <h2>Подборки рецептов, кулинарные видео</h2>
              {% endif %}
            </a>
         </div>
        <div class="navbar-header navbar-right">
                <button type="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#modalMail">
                    <img alt="Mail" src="{{ static('img/mail.png') }}" >
                </button>
                <noindex>Поделиться: </noindex><a class="btn btn-link btn-lg btn-vk" href="https://vk.com/share.php?url={{current_url}}" >
                                 <img alt="vk" src="{{ static('img/vk.png') }}">
                            </a>
                            <a class="btn btn-link btn-lg"  href="https://www.facebook.com/sharer/sharer.php?u={{current_url}}" >
                                 <img alt="facebook" src="{{ static('img/facebook.png') }}">
                            </a>
                            <a class="btn btn-link btn-lg btn-twi"  href="https://twitter.com/home?status={{current_url}}" >
                                 <img alt="twitter" src="{{ static('img/twitter.png') }}">
                            </a>
       </div>
       </div>
      </nav>
      <div class="container-fluid">
      {% block content %}{% endblock %}
      </div>
    <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
  </body>
</html>
