{% extends "recipes/base_mobile.html" %}
{% block content %}
<div class = "row">
<div id="search" class="input-group col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
    <form action="/guessrecipe/" id="getRecipe" method="get">
        <div id="mainSearch" class="input-group">
            {{ form.search}}

        </div>
        {% if suggestion_text %}
        <div id = "suggestion">
          <a href = "{{ suggestion_url}}">Например, {{suggestion_text}}</a>
        </div>
        {% endif %}
        <div id="searchSettings">
            <div id="ingredientSettings" class="input-group">
                <label for="{{ form.ingredients.id_for_label }}" style="display:block">Желаемые ингредиенты</label>
                <input type="text" id="{{ form.ingredients.id_for_label }}" name="{{ form.ingredients.name }}" placeholder='Начните ввод'
                value="{% if ingredients_dict|length > 3 %} {{ ingredients_dict }} {% endif %}">
                <div class="checkbox">
                    {{ form.only_all_ingrs|safe }}
                    {{ form.only_all_ingrs.label|safe }}
                </div>
                <label for="{{ form.no_ingredients.id_for_label }}" style="display:block">Нежелаемые ингредиенты</label>
                <input type="text" id="{{ form.no_ingredients.id_for_label }}" name="{{ form.no_ingredients.name }}" placeholder='Начните ввод'
                value="{% if no_ingredients_dict|length > 3 %} {{ no_ingredients_dict }} {% endif %}">
            </div>
            <div id="categorySettings" class="input-group"  >
                {{ form.r_types|safe }}
                {{ form.ingredient_type|safe }}
                {{ form.timelencategory|safe }}
            </div>
        </div>
                {{ form.cuisine|safe }}
        <button type="submit" class="btn" id="searchButton">
            <img alt="Search" src=/static/img/search.png>
        </button>
    </form>
  </div>

  <div class="recipes-wrapper col-sm-12">
  <div id = "recipes">
  <div class="spell_suggestion">
  {% if search_spell|length > 0 %}
    <br>Возможно, Вы имели ввиду <a href="{{ url_spell }}">{{ search_spell }}</a>
  {% endif %}
  {% if recipes|length == 0 %}
    {% if current_url|length < 50 %}
    <br>Начните поиск, задав параметры 
    {% else %}
    <br>По Вашему запросу ничего не найдено, попробуйте изменить параметры поиска
    {% endif %}
  {% endif %}
  </div>
  {% if recipes|length > 0 %}

  {% for r in recipes %}


  <div class="recipe-tumbnail" data-toggle="popover">
    <div class="infoButton show-info"></div>
    <span class="hlink" target="_blank" data-link="{{ r.url }}">
      <div class="recipe-info">
        <div class="recipe-name">
          {{ r.name }}
        </div>
        <div class="recipe-additional">
          <div class="recipe-type">
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
            {{ r.recipe_type.name }}
          </div>
          {% if r.cuisine %}
          <div class="recipe-cuisine">
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            {{ r.cuisine.name }} кухня
          </div>
          {% endif %}
          {% if r.total_mins %}
              <div class="recipe-time">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
               {% if r.total_mins >= 60 %}
                  {{ r.total_mins//60 }} ч.
                  {% if r.total_mins%60 > 0 %}
                      {{ r.total_mins%60 }} мин.
                  {% endif %}
               {% else %}
                  {{ r.total_mins }} мин.
               {% endif %}
              </div>
          {% endif %}

          {% for ingr in r.ingrs.all() %}

            {{ ingr.name }}{%if not loop.last %},{% endif %}


          {% endfor %}

         </div>
      </div>

      <img src="{{ static(r.img_url) }}">
    </span>
  </div>
  {% endfor %}

  {% endif %}
  </div>
  </div>

</div>


{% endblock %}
