<title>404. Ничего не найдено</title>
<center><h1>404. Ничего не найдено</h1></center>
<center><p>Страница, которую Вы запросили - не найдена</p></center>
<center><img src='{{static('img/404.jpg')}}' width=852 height=480 /><center>