<title>Опа, случилось нечто непредвиденное!</title>
<center><h1>Опа, случилось нечто непредвиденное!</h1></center>
<center><p>Мы уже работаем над проблемой, обновите страницу чуть позже</p></center>
<center><img src='/static/img/50x.jpg' width=705 height=480 /><center>

