/*MAIN*/
* {
    font-family: 'Noto Sans', sans-serif;
}

select[multiple] {
  height: 300px;
}

/** NAV **/

.navbar-brand h1 {
   font-family: 'Lobster', cursive;
   font-size: 20pt;
   color: black;
   margin: 0;
}

.navbar-brand h2 {
  display: none;
}

.navbar-brand {
   padding: 0;
   padding-left: 15px;
   padding-top: 5px;
}

.navbar-default{
  background-image: url("../img/backnav.png");
}

#navbar {
  position: fixed;
}

/** SEARCH **/

#search {
    padding-bottom: 40px;
}

#suggestion img {
  height:5%;
  width:5%;
}

#suggestion a{
  text-decoration: underline;
  color: black;
}

#suggestion a:hover{
  text-decoration: underline;
  color: #bbbbbb;
}

.multiselect {
    margin-right: 10px;
    margin-bottom: 10px;
}

.checkbox {
    padding-left: 20px;
}

#id_search {
  width: 100%;
}

#ingredientSettings {
  width: 100%;
}

#categorySettings {
  padding-top: 10px;
}

#mainSearch {
  width: 100%;
}

#showSearchSettings {
    height: 46px;
    width: 46px;
    background-color: #fff;
}

#searchSettings {
    padding-top: 20px;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
}

.bootstrap-tagsinput {
    margin-right: 10px;
    width: 100%;
}



/*GRID*/

.show-info {
  background-image: url('/static/img/show-info-w.png');
  background-repeat: no-repeat;
  background-position: center;
}

.hide-info {
  background-image: url('/static/img/hide-info.png');
  background-repeat: no-repeat;
  background-position: center;
}

#recipes img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
}

.recipe-tumbnail {
  display: inline-block;
  position: relative;
  height:300px;
  width:300px;
  background-color:#FFFFFF;
  overflow: hidden;
  margin-bottom: 5px;
}

#categorySettings .btn {
  white-space: normal;
}

#searchButton {
    height: 46px;
    width: 100%;
    border: 1px solid #000000;
    background-color: #D6DFFF;
}

.recipe-name {
  margin: 5px 25px 0 5px;
  font-size: 12pt;
}

.recipe-type {

}

.recipe-additional {
    padding: 10px;
    color: white;
    bottom: 0px;
    font-size: 11pt;
    background-color: #000000;
    opacity: 0.9;
    padding: 5px;
    left: 0;
    right: 0;
    top: 0;
    margin: 15px;
    float:left;
    display: none;
    height: 100%;
}

.infoButton {
  color: black;
  display: block;
  font-size: 20pt;
  position: absolute;
  opacity: 0.9;
  padding: 5px;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  z-index: 1488;
}

.recipe-info {
    color: white;
    display: block;
    bottom: 0px;
    font-size: 11pt;
    position: absolute;
    background: black; /* Old browsers */
    opacity: 0.9;
    min-height: 20%;
    max-height: 100%;
    padding: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 10px 10px;
}

.popover {
   opacity: 0.99;
   background-color: transparent;
   border:none;
}

.popover-title {
   background-color: #fff;
   color: #000;
   font-size: 28px;
   text-align:center;
   opacity: 0.99;
}

.popover-content {
   background-color: #fff;
   color: #000;
   padding: 5px 15px;
   opacity: 0.99;
   border-radius: 10px;
   border: 1px solid #ccc;
}

.popover .list-group {
   background-color: #fff;
   color: #000;
}

.popover .list-group-item {
   background-color: #fff;
   color: #000;
}

.arrow {
   border-right-color: #ccc !important;
}

/*@media (max-width: 767px) and (orientation:portrait) {
    .recipe-tumbnail {
        height:140px;
        background-color:#FFFFFF;
        margin-top:10px;
        overflow: hidden;
    }
    .recipe-name {
        width: 83%;
        color: white;
        display: block;
        bottom: 0px;
        font-size: 9pt;
        position: absolute;
        text-align: left;
        background-color: #000000;
        opacity: 0.9;
        height: 40%;
        padding: 5px;
    }
}*/

.row {
  margin: 0px;
}

.accordion {
    margin-bottom:-3px;
}

.accordion-group {
    border: none;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.bootstrap-tagsinput .tag {
    color: black;
}

.label-info {
    background-color: #dfdfff;
    margin-right: 2px;
    border-radius: 5px;
    color: #000000;
}

.label {
    font-size: 10pt;
    color: black;
    font-weight: 500;
}



#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 30pt;
    padding-top: 5px;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}

.spell_suggestion a {
  text-decoration:underline;color:#000
}

.spell_suggestion a:hover {
  text-decoration:underline;
  color:#bbb
}

.imageselect-list {
  float: left;
  margin: 0px;
  padding: 0px;
  width: inherit;
}

.imageselect-item {
  display: inline-block;
  width: 100px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 30px;
  padding: 10px;
}

.imageselect-item span {
  display: none;
  position: absolute;
}

.imageselect-item:hover {
  border: 3px solid green;
  border-style: dashed;
}

.imageselect-item.selected {
  border: 3px solid green;
}

.imageselect-item img {
  display: block;
  margin: auto;
  width: 32px;
  height: 32px;
}


.imageselect-label {
  text-align: center;
}