/*MAIN*/
* {
    font-family: 'Noto Sans', sans-serif;
}

select[multiple] {
  height: 300px;
}

/** NAV **/

.navbar-brand h1 {
   font-family: 'Lobster', cursive;
   font-size: 28pt;
   color: black;
   margin: 0;
}

.navbar-brand h2 {
   display: none;
}

.navbar-brand {
   padding: 0;
   padding-left: 15px;
   padding-top: 5px;
}

#navbar {
  position: fixed;
}

.navbar-default{
  background-image: url("../img/backnav.png");
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

/** SEARCH **/

#search {
    top:80px;
    height:100%;
    left: 10px;
    padding-bottom: 40px;
    overflow-y: scroll;
    position: fixed;
    width: inherit;
}

#suggestion img {
  height:5%;
  width:5%;
}

#suggestion a{
  text-decoration: underline;
  color: black;
}

#suggestion a:hover{
  text-decoration: underline;
  color: #bbbbbb;
}

.multiselect {
    margin-right: 10px;
    margin-bottom: 10px;
}

.checkbox {
    padding-left: 20px;
}

#id_search {
  width: 100%;
}

#ingredientSettings {
  width: 100%;
}

#categorySettings {
    padding-top: 10px;
    width: inherit;
}

#categorySettings .btn-group {
    width: 100%;
}

#mainSearch {
  width: 100%;
}


#showSearchSettings {
    height: 46px;
    width: 46px;
    background-color: #fff;
}

#searchSettings {
    padding-top: 20px;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
}

.bootstrap-tagsinput {
    margin-right: 10px;
    width: 100%;
}

/*GRID*/

#recipes img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
}

.recipe-tumbnail {
  display: inline-block;
  position: relative;
  height:350px;
  width:350px;
  background-color:#FFFFFF;
  overflow: hidden;
  margin: 10px;
}

@media screen and (max-device-width: 900px) {
  .recipe-tumbnail {
    display: inline-block;
    position: relative;
    height:300px;
    width:300px;
    background-color:#FFFFFF;
    overflow: hidden;
    margin: 10px;
  }
}

.recipe-tumbnail {
  display: inline-block;
  position: relative;
  height:350px;
  width:350px;
  background-color:#FFFFFF;
  overflow: hidden;
  margin: 10px;
}

#categorySettings .btn {
  white-space: normal;
}

#searchButton {
    height: 46px;
    width: 100%;
    border: 1px solid #000000;
    background-color: #D6DFFF;
}

.recipe-info {
    color: white;
    display: block;
    bottom: 0px;
    font-size: 11pt;
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+28,e5e5e5+28,000000+98 */
    background: black; /* Old browsers */
    opacity: 0.9;
    min-height: 20%;
    max-height: 80%;
    padding: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 10px 10px;
}

#infoButton {
  color: black;
  display: block;
  font-size: 20pt;
  position: absolute;
  opacity: 0.9;
  height: 80%;
  padding: 5px;
  right: 0;
  top: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.recipe-name {
  margin: 10px 0px 0px 20px;
  font-size: 12pt;
}

#recipes {
  margin-top: 70px;
}

.recipe-additional {
    padding: 10px;
    color: white;
    bottom: 0px;
    font-size: 11pt;
    background-color: #000000;
    opacity: 0.9;
    height: 80%;
    padding: 5px;
    left: 0;
    right: 0;
    top: 0;
    margin: 15px;
    float:left;
    display: none;
}

.popover {
   opacity: 0.99;
   background-color: transparent;
   border:none;
}

.popover-title {
   background-color: #aaa;
   color: #000;
   font-size: 28px;
   text-align:center;
   opacity: 0.99;
}

.popover-content {
   background-color: #fff;
   color: #000;
   padding: 5px 15px;
   opacity: 0.99;
   border-radius: 10px;
   border: 1px solid #ccc;
}

.popover .list-group {
   background-color: #fff;
   color: #000;
}

.popover .list-group-item {
   background-color: #fff;
   color: #000;
}

.arrow {
   border-right-color: #ccc !important;
}

@media (max-width: 767px) and (orientation:portrait) {
    .recipe-tumbnail {
        height:140px;
        background-color:#FFFFFF;
        margin-top:10px;
        overflow: hidden;
    }
    .recipe-name {
        width: 83%;
        color: white;
        display: block;
        bottom: 0px;
        font-size: 9pt;
        position: absolute;
        text-align: left;
        background-color: #000000;
        opacity: 0.9;
        height: 40%;
        padding: 5px;
    }
}

.row {
  margin: 0px;
}

.accordion {
    margin-bottom:-3px;
}

.accordion-group {
    border: none;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.bootstrap-tagsinput .tag {
    color: black;
}

.label-info {
    background-color: #dfdfff;
    color:#000000;
    margin-right: 2px;
    border-radius: 5px;
}

.label {
    font-size: 10pt;
    color: black;
    font-weight: 500;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 30pt;
    padding-top: 5px;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
.spell_suggestion a {
  text-decoration:underline;color:#000
}

.spell_suggestion a:hover {
  text-decoration:underline;
  color:#bbb
}

.imageselect-list {
  float: left;
  margin: 0px;
  padding: 0px;
  width: inherit;
}

.imageselect-item {
  display: inline-block;
  width: 100px;
  margin: 10px;
  border-radius: 30px;
  border: 3px solid white;
  padding: 10px;
}

.imageselect-item span {
  display: none;
  position: absolute;
}

.imageselect-item:hover {
  border: 3px solid green;
  border-style: dashed;
}

.imageselect-item.selected {
  border: 3px solid green;
}

.imageselect-item img {
  display: block;
  margin: auto;
  width: 32px;
  height: 32px;
}


.imageselect-label {
  text-align: center;
}

span.hlink{
  cursor: pointer;
}



.posts {
  width: 1000px;
  padding-top: 100px;
}

.post-featured.p1 {
  display: inline-block;
  position: relative;
  height:400px;
  width:600px;
  background-color:#FFFFFF;
  overflow: hidden;
  margin: 0px;
}
.post-featured.p2 {
  display: inline-block;
  position: relative;
  height:400px;
  width:300px;
  background-color:#FFFFFF;
  overflow: hidden;
  margin: 0px;
}

@media screen and (max-device-width: 900px) {
  .post-featured {
    display: inline-block;
    position: relative;
    height:300px;
    width:300px;
    background-color:#FFFFFF;
    overflow: hidden;
    margin: 10px;
  }
}

.post-info {
    color: white;
    display: block;
    bottom: 0px;
    font-size: 11pt;
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+28,e5e5e5+28,000000+98 */
    background: transparent; /* Old browsers */
    opacity: 0.9;
    min-height: 0%;
    max-height: 80%;
    padding: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    /*border-radius: 0 0 10px 10px;*/
}


.post-title{color:#fff;
text-shadow:#666 3px 1px 3px;
font-size:1.6em;
font-weight:bold;
letter-spacing: -0.05em;
position:relative;
text-transform:normal;
left:0px;top:-250px;
padding:5px 0 0 15px;
visibility:visible;
z-index:60;-moz-opacity:1;
filter:alpha(opacity=100);
opacity:1;}

.post-date{color:#fff;
text-shadow:#666 3px 1px 3px;
font-size:1.6em;
font-weight:bold;
letter-spacing: -0.05em;
position:relative;
text-transform:normal;
left:0px;font-size: 18px;
padding:5px 0 0 15px;
visibility:visible;
z-index:60;-moz-opacity:1;
filter:alpha(opacity=100);
opacity:1;}

.post-detail {
    padding: 10px;
    color: white;
    bottom: 0px;
    font-size: 11pt;
    background-color: #000000;
    opacity: 0.9;
    /*height: 80%;*/
    padding: 5px;
    left: 0;
    right: 0;
    top: 0;
    margin: 15px;
    float:left;
    display: none;
}
